@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Event_Ease.Models.Entities.Venue>

<h1>All venues</h1>

<table class="table">
    <thead>
        <tr>
            <th>Venue Name</th>
            <th>Venue location</th>
            <th>Venue Capacity</th>
            <th>Venue Description</th>
            <th>Venue Image</th>
            <th>Active</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var venue in Model)
        {
            <tr>
                <td>@venue.VenueName</td>
                <td>@venue.Location</td>
                <td>@venue.Capacity</td>
                <td>@venue.Description</td>
                <td>@venue.ImageUrl</td>
                <td>@venue.IsActive</td>
                <td>
                    <a asp-controller="Venues" asp-action="Edit" asp-route-id="@venue.VenueID" class="btn btn-primary">Edit</a>
                    <form asp-controller="Venues" asp-action="Delete" asp-route-id="@venue.VenueID" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>